@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

/* Base styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
/* Light mode styles */
/*.light-mode {
    background-color: #fff;
    color: #333;
}

/* Dark mode styles */
/*.dark-mode {
    background-color: #222;
    color: #fff;
}

/* Header styles */
header {
  padding: 20px;
  text-align: center;
}
.header-subtitle {
  font-size: 24px;
  opacity: 0;
  transform: translateX(100%);
  animation: slideIn 1s forwards 1s;
  color: rgb(58, 9, 80);
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/*h1 {
    font-size: 36px;
    margin: 0;
    
}*/
:root {
  --text-color-light: rgba(0, 0, 0, 1); /* Default text color for light mode */
  --text-color-dark: rgba(
    255,
    255,
    255,
    1
  ); /* Default text color for dark mode */
}

body {
  /* Set the default background color for both modes */
  background-color: #fff;
  color: var(--text-color-light); /* Set default text color for light mode */
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

body.dark-mode {
  /* Add styles for dark mode */
  background-color: #333;
  color: var(--text-color-dark);
}
body.dark-mode .header-subtitle {
  color: orange;
}
h1 {
  font-family: "Abril Fatface", sans-serif;
  font-size: 5rem; /* Adjust the font size as needed */
  width: 80vw;
  margin: 5vh auto; /* Adjusted margin to 10vh */
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  background-image: linear-gradient(
    to right,
    crimson,
    pink,
    gold,
    orange,
    springgreen,
    blue
  ); /* Added more colors */
  background-size: 400% 100%; /* Adjusted background-size for more colors */
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: gradient 40s linear infinite; /* Longer duration for smoother flow */
}

h1:hover {
  color: transparent;
}

body.dark-mode h1 {
  background-image: linear-gradient(
    to right,
    gold,
    orange,
    crimson,
    violet,
    indigo,
    blue
  ); /* Added more colors */
}

@keyframes gradient {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

/* Music list styles */
.music-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 10px 50px;
  padding: 0;
  list-style: none;
}

.music-item {
  background-color: #282828;
  padding: 0px;
  border-radius: 15px;
  text-align: center;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
  box-shadow: 5px 5px 10px #b0b0b0;
  width: 270px;
}

.music-item-dark-mode {
  color: black;
  box-shadow: 5px 5px 10px black;
  background-color: rgb(0, 0, 0, 0.49);
}

/* Media query for smaller screens */
@media (max-width: 480px) {
  h1 {
    font-size: 3rem; /* Adjust the font size as needed */
  }
  .music-grid {
    grid-template-columns: repeat(
      auto-fill,
      minmax(150px, 1fr)
    ); /* Adjust the width for smaller screens */
    margin: 40px;
  }
}

/* Styles for the toggle container */
/* Styles for the toggle container */
.toggle-container {
  position: fixed;
  z-index: 3;
  bottom: 0;
  float: right;
  width: 2%;
  margin: 5px 5px;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer !important;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: transparent;
  border: none;
  cursor: pointer;
  transform: translateY(0px);
  transition: all 0.3s;
  font-size: 2rem;
  margin: 5px 5px;
  padding: 10px;
}
.scroll_up {
  width: 50px;
  position: absolute;
  bottom: 10px;
  right: 1px;
}
#backToTopBtn:hover {
  transform: translateY(-5px);
  transition: all 0.3s;
}

/* Styles for the toggle label */
.toggle-label {
  display: inline-block;
  padding: 10px;
  border-radius: 50%; /* Make it a circle */
  cursor: pointer;
}

/* Styles for the icon */
.toggle-label i {
  font-size: 24px; /* Adjust the icon size as needed */
}
i
/* updates */
.details {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}
/* Like Button */
.fav-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 20%;  
  font-size: 3rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
/* updates */
@keyframes favme-anime {
  0% {
    opacity: 1;
    font-size: 1rem;
    -webkit-text-stroke-color: transparent;
  }
  25% {
    opacity: 0.6;
    color: #fff;
    font-size: 0.8rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dc3232;
  }
  75% {
    opacity: 0.6;
    color: #fff;
    font-size: 1.42875rem;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #dc3232;
  }
  100% {
    opacity: 1;
    font-size: 1.25rem;
    -webkit-text-stroke-color: transparent;
  }
}
@keyframes favme-hover {
  from {
    font-size: 1.42875rem;
  }
  80% {
    font-size: 1.25rem;
  }
}
.favme {
  display: block;
  font-size: 3rem;
  width: auto;
  height: auto;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s ease;
  color: #cbcdce;
  margin: 0;
}
.favme.active {
  color: #dc3232;
}
.favme:hover {
  animation: favme-hover 0.3s infinite alternate;
}
.favme.is_animating {
  animation: favme-anime 0.3s;
}

/* Filter */
.filter-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  padding: 0 3rem;
}
.selectFilter {
  width: 30%;
}
.selectFilter select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}

.searchFilter {
  width: 65%;
  display: flex;
  gap: 10px;
  align-items: center;
}
.searchFilter input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-size: 16px;
}
footer {
  background-color: #333;
  color: #fff;
  padding: 20px 60px;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 650px;
  margin: 0;
}
.footer-logo h2 {
  font-family: cursive;
  letter-spacing: 4px;
  font-size: 20px;
}
.footer-logo img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.footer-logo h2 {
  margin: 0;
  padding-left: 10px;
  font-size: 24px;
}
.music_img img {
  width: 200px;
}
.footer-social {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.footer-social h3 {
  margin-bottom: 10px;
  font-size: 30px;
  font-family: cursive;
}
.footer_dark {
  background-color: black;
}
.social-icons a {
  text-decoration: none;
  color: #fff;
  margin-right: 20px;
  margin-left: 20px;
  transition: color 0.3s; /* Add transition effect */
}

/* Add hover effect */
.social-icons a:hover {
  color: #ff9900; /* Change the color on hover (adjust to your preference) */
}

/* Social Media Icons */
.fab {
  font-size: 30px;
}
/* Responsive */
@media only screen and (max-width: 800px) {
  .social-icons {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
  }
  .music_img img {
    width: 150px;
  }
  .scroll_up {
    width: 40px;
    position: absolute;
    right: 2.5px;
    bottom: 10px;
    left: 0%;
  }
}

@media only screen and (max-width: 1100px) {
  .scroll_up {
    width: 40px;
    position: absolute;
    bottom: 5px;
    left: 0%;
  }
  .btn {
    margin-left: 10px;
  }
  .fab {
    font-size: 20px;
  }
  .music_img img {
    width: 150px;
  }
  .social-icons a {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media only screen and (max-width: 1330px) and (min-width: 1100px) {
  .scroll_up {
    width: 45px;
    position: absolute;
    bottom: 5px;
    left: 0%;
  }
}
